<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="title-section">
            <h4 class="card-title">分類清單</h4>
            <div class="form-group">
              <input type="text" class="form-control form-control-line" placeholder="搜尋...">
              <button><mat-icon>search</mat-icon></button>
            </div>
            <button mat-mini-fab (click)="openAddCategoryModal()" ><mat-icon>add</mat-icon></button>
          </div>
          <h6 class="card-subtitle"></h6>
          <div class="table-responsive">
            <table
              id="demo-foo-addrow"
              class="table m-t-30 table-hover contact-list"
              data-page-size="10"
            >
              <thead>
                <tr>
                  <th>編號</th>
                  <th>中文名稱</th>
                  <th>西文名稱</th>
                  <th>公司</th>
                  <th>產品數量</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="javascript:void(0)">調味料</a>
                  </td>
                  <td>Salsa Aderezo</td>
                  <td>asia</td>
                  <td>56</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="javascript:void(0)">米粉</a>
                  </td>
                  <td>Fideo de Arroz</td>
                  <td>gfull</td>
                  <td>24</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator
              [length]="100"
              [pageSize]="15"
              hidePageSize="true"
          >
          </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
